@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background-color: rgb(228, 194, 168);
  background-image: url(https://thumbs.dreamstime.com/b/italian-food-background-different-types-pasta-health-vegetarian-concept-top-view-copy-space-italian-food-114155664.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(); */
}

@media (max-width: 700px) {
  body{
    background-color: white;
    background-image: none;
  }}